[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
allure-pytest = "*"
selenium = "*"
pyyaml = "*"
pymysql = "*"
jsonpath = "*"

[packages]
selenium = "*"
pyyaml = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
